<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @wagon.class %>
</p>

<p>
  <strong> Train: </strong>
    <%= @wagon.train.number %>
    <%= render "#{@wagon.class.to_s.underscore}", :wagon => @wagon %>
</p>

<%= link_to 'Edit', edit_train_wagon_path(@train, @wagon) %> |
<%= link_to 'Back', @train %>
