<h1>Edit Route</h1>

<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <p>
    <strong> Manage route: </strong>
    <% unless @route.railway_stations.empty? %>
    <table border="1">
      <tr>
        <td>Station Name</td>
        <td>Route Index</td>
        <td>Arrival Time</td>
        <td>Departure Time</td>
      </tr>
      <% @route.railway_stations.each do |st| %>
        <tr>
          <td><%= st.title %></td>
          <td>
            <div class="field">
              <%= f.number_field "stations_order[#{st.id}]" , value: st.index_in_route(@route) , min: 0, max: 50 %>
            </div>
          </td>
          <td> <%=datetime_select("arrival_time[#{st.id}]", 'date', default: st.arrival_time(@route))%> </td>
          <td> <%=datetime_select("departure_time[#{st.id}]", 'date', default: st.departure_time(@route))%> </td>
        </tr>
      <% end %>
    </table>
    <% else %>
      No stations yet!
    <% end %>

  </p>

  <div class="actions">
    <%= f.submit 'Edit' %>
  </div>
<% end %>

<%= link_to 'Show', @route %> |
<%= link_to 'Back', routes_path %>
