<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong> Trains on this route: </strong>
  <% if @route.trains.any? %>
    <% @route.trains.each do |tr| %>
    <%= tr.number %>
    <% end %>
  <% else %>
    No trains on the route!
  <% end %>
</p>

<p>
  <strong> Sorted route stations: </strong>
  <% unless @route.railway_stations.empty? %>
    <% @route.sorted_stations.each do |st| %>
    <ul>
      <%= st.title %>
      , index in route :
      <%= st.index_in_route(@route) %>
    </ul>
    <% end %>
  <% else %>
    No stations yet!
  <% end %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
