<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong> Route: </strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    not assigned
  <% end %>
</p>

<p>
  <strong> Wagons: </strong>
  <% unless @train.wagons.any? %>
    there are no wagons and seats!
  <% else %>
    <% @wagons.each do |wagon| %>
      <ul>
        <%= link_to "#{wagon.number} #{wagon.class}", train_wagon_path(@train, wagon) %>
      </ul>
    <% end %>
  <% end %>
</p>

<p>
  <%= link_to "Add wagon", new_train_wagon_path(@train) %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
